<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name="com.eric.AndroidStudyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rxjava">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.eric.routers.apt.SecondActivity" />

        <activity android:name="com.eric.jetpack.JetpackActivity" />
        <activity android:name="com.eric.lifecycle.LifeCycleActivity" />
        <activity android:name="com.eric.lifecycle.TestLifeCycleActivity" />

        <activity android:name="com.eric.ui.ConstraintLayoutActivity" />
        <activity android:name="com.eric.ui.UILayoutActivity" />
        <activity android:name="com.eric.ui.WanAndroidActivity" />

        <activity android:name="com.eric.pageing3.Page3Activity" />

        <activity android:name="com.eric.glass.GlassActivity"/>
        <activity android:name="com.eric.audio.AudioWaveActivity"/>


    </application>

</manifest>